@import "../../../variables.scss";

.film {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 0.8;
  background-color: $sidenavColor;
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.315);
  border-radius: 3px;
  .image {
    width: 100%;
    img {
      width: 100%;
      object-fit: cover;
      border-top-right-radius: 3px;
      border-top-left-radius: 3px;
    }
  }

  .title {
    font-size: 1em;
    margin-top: 5px;
    overflow: hidden;
    max-width: 90%;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .description {
    font-size: 0.8em;
    margin-top: 5px;
    margin-bottom: 5px;
    text-overflow: ellipsis;
  }
}

.film:hover {
  opacity: 1;
}

.disable-select {
  -webkit-touch-callout: none; /* iOS Safari */
     -webkit-user-select: none; /* Safari */
      -khtml-user-select: none; /* Konqueror HTML */
        -moz-user-select: none; /* Old versions of Firefox */
         -ms-user-select: none; /* Internet Explorer/Edge */
             user-select: none; /* Non-prefixed version, currently
                                   supported by Chrome, Edge, Opera and Firefox */
 }
