$sidenavWidth: 17vw;
$handsetSidenavWidth: 50vw;
$sidenavColor: rgb(65, 75, 89);
$toolbarColor: rgba(0, 0, 0, 0.2);
$fontColor: White;
$buttonHover: rgba(0, 0, 0, 0.3);
$buttonActive: rgba(0, 0, 0, 0.6);

$toolbarHeight: 64px;
$toolbarHeightMobile: 56px;